
.footer-list{
margin-right: auto;
}
.footer-container ul{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;

}
.social-media{
    background-color: rgb(216, 211, 205);   
}
.social-media ul{
    align-items: center;
    justify-content: center;
    text-align: center;
}


.social-media ul{
    display: block;
    list-style: none;
    position: absolute;
    background-color:white;
    margin-top: 10px;


}
.social-media ul li{
    display:inline-block;
    margin:20px;
    padding:0px;
    background-color: white;
    padding : 5px;
    margin-top: 10px;
    margin-right: 10px;

}
 .social-media ul li .fa{
    position: relative;
    margin-top: 20px;
   font-size: 50px;
   line-height: 300px; 
   transition: 1s;
   text-align: center;
}
.social-media ul li a{
    line-height: 50px; 
    position: relative; 
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50px;
    box-shadow: 0px 2px 2px 3px rgba(0,0,0,.5);
    text-align: center;
    cursor: pointer;
}
.social-media ul li a:hover{
    transform: translate(0, -10px)
}
 .social-media ul li:nth-child(1) a:hover{
    background-color: #1877f2;
    color: white;
}

 .social-media ul li:nth-child(2) a:hover{
    background-color: #c32aa3;
    color:rgb(224, 210, 210);
}

.social-media ul li:nth-child(3) a:hover{
    background-color: #007bb5;
    color: whitesmoke;
}

.social-media ul li:nth-child(4) a:hover{
    background-color: black;
    color: white;
}

.social-media ul li:nth-child(5) a:hover{
    background-color: #1da1f2;
    color: white;
}
